<mat-toolbar color="primary">
  <mat-toolbar-row>
    <section>
      <div class="example-sidenav-content">
        <span class="example-spacer"></span>
        <h1>Full Stack Developer Duo</h1>
      </div>
    </section>
    <section class="left-container">
      <!-- <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button> -->

      <img (click)="emitProgressOne.emit()" class="headshot" src="assets/images/headshot_one.jpg" alt="">
    </section>
  </mat-toolbar-row>
</mat-toolbar>