
.mat-toolbar-row {
    z-index: 3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgba(63, 81, 181, 0.5);
    height: 140px;
    padding-left: 200px
}

.mat-icon-button {
    margin: 0 70px;
}

.headshot {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 0 20px;
    cursor: pointer;
}

.left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}