<mat-form-field>
  <input matInput placeholder="Last name, First name" [value]="info.name" readonly>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Adress" [value]="info.address" readonly>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="LinkedIn" [value]="info.linkedIn" readonly>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Github" [value]="info.github" readonly>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Email Address" [value]="info.email" readonly>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Phone Number" [value]="info.phoneNo" readonly>
</mat-form-field>