<div class="example-container">
  <mat-form-field class="col-sm">
    <input matInput placeholder="Last name, First name" [value]="info.name" id="name" readonly>
  </mat-form-field>
  <mat-form-field class="col-lg">
    <input matInput placeholder="Adress" [value]="info.address" readonly>
  </mat-form-field>
  <mat-form-field class="col-lg">
    <input matInput placeholder="LinkedIn" [value]="info.linkedIn" readonly>
  </mat-form-field>
  <mat-form-field class="col-md">
    <input matInput placeholder="Github" [value]="info.github" readonly>
  </mat-form-field>
  <mat-form-field class="col-md">
    <input matInput placeholder="Email Address" [value]="info.email" readonly>
  </mat-form-field>
  <mat-form-field class="col-sm">
    <input matInput placeholder="Phone Number" [value]="info.phoneNo" readonly>
  </mat-form-field>
</div>