.mat-form-field {
    padding: 0 15px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    display: flex;
    .material-icons {
        padding-right: 10px;
    }
    .img-icon {
        width: 24px;
        height: 20px;
        padding-right: 10px;
    }
}

.col-sm {
    width: 200px;
}
.col-md {
    width: 260px;
}
.col-lg {
    width: 360px;
}