<div class="example-container">
  <mat-form-field class="col-sm">
    <i class="material-icons">face</i>
    <input matInput placeholder="Last name, First name" [value]="info.name" id="name" readonly>
  </mat-form-field>
  <mat-form-field class="col-lg">
    <i class="material-icons">home</i>
    <input matInput placeholder="Adress" [value]="info.address" readonly>
  </mat-form-field>
  <mat-form-field class="col-lg">
      <i class="material-icons">assignment_ind</i>
    <input matInput placeholder="Title" [value]="info.title" readonly>
  </mat-form-field>
  <mat-form-field class="col-lg">
    <img class="img-icon" src="assets/images/In-Black-81px-R.png">
    <input matInput placeholder="LinkedIn" [value]="info.linkedIn" readonly>
  </mat-form-field>
  <mat-form-field class="col-md">
    <img class="img-icon" src="assets/images/GitHub-Mark-64px.png">
    <input matInput placeholder="Github" [value]="info.github" readonly>
  </mat-form-field>
  <mat-form-field class="col-md">
    <i class="material-icons">email</i>
    <input matInput placeholder="Email Address" [value]="info.email" readonly>
  </mat-form-field>
  <mat-form-field class="col-sm">
    <i class="material-icons">phone</i>
    <input matInput placeholder="Phone Number" [value]="info.phoneNo" readonly>
  </mat-form-field>
</div>